.gradle
.settings
bin
build
.cache-main
.cache-tests
.classpath
.project
*.orig
*.rej
*.jks
*.cer
*.jar
*.tgz
*.crt
*.tar*
.metadata
node_modules
target
*.diff
credentials.properties
**/Scratch*.scala
.tmpBin
jars/*
.metals/*
.bloop/*

*.audit
**/*.audit

.idea/
**/out/*
*.iml
metastore_db/
.vscode/
.qli/tool
.qli/tmp
plopDir
qli-logs
desktop.ini
*.code-workspace
*.xlsx